body{
 
font-family: 'Poppins', sans-serif!important;
}
p{
   font-family: 'Montserrat', sans-serif!important;
}
.yellow-bg{
  background: #FBD062;
}

.blue-bg{
  background: #111430;
}

.blue-text{
  color: #111430 !important;
}
.green-text{
  color: #7AB259;
}

.blueBtn{
  background: #111430;
  color: #FFFFFF;
  padding: 5px 25px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  font-weight: 400;
}
.blueBtn:hover{
  background: #1f2458;
}